@use "./components/scss/abstracs/variables";


*{
    //Defaul Resets
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    font-weight: 500;
    



    body{

       // background: url(./img/bg1.jpg);
       display: flex;
       flex-direction: column;
       min-height:100vh;
       
       
        li{
            list-style: none;
    
        }
        a{
            text-decoration: none;
        }
        button{
            cursor: pointer;
        }
        
    }

    
}