.listContainer{
    margin-right: 2%;
    margin-left: auto;

   display: flex;
    .listItem{
        margin: auto;
      align-content: center;
      a{
        margin: 5px 5px;
        font-weight: 300;
        justify-content: space-between;
        color: white;
        &:hover{
            font-weight: 500;
            color: orange;
        }
      }
    }
}