.PaginationContainer {
  margin-left: auto;
  margin-right: auto;
  margin: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .buttonPagination {
    text-justify: center;
    width: 2rem;
    padding: 2px 5px;
    border: none;
    border-radius: 50%;
    color: #FFF;
    transition: ease 0.4s;
    margin: 0px 2px;
    font-family: var(--font-poppins);
    background-color: #5C19AE;
    ;
    &:hover {
      color: orange;
    }
  }
}