.NavContainer {
    background-color: #724C9F;
    display: flex;
    padding: 1% 0;
    flex-wrap: wrap;
    .Branding {
        display: flex;
        margin: auto auto auto 30px;
        .NavTitulo {
            color: white;
            align-self: center;
            font-style: italic;
        }
        .icon {
            max-width: 40px;
            max-height: 40px;

        }
    }

}

@media only screen and (max-width: 880px) {

   .NavContainer{
    max-width: 100vw;

    justify-content: center;
    .Branding{
        margin: 0;
    }
   }
  }